<% layout('layout') -%>
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center"> Shop Smart, Save Big! </h1>
    <p class="text-center">Find your favorite Product</p>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-9 col-xs-9">
            <div class="input-group col-md-12">
                <input type="text" id="search" class="form-control input-lg" name="search_term" placeholder="Find product..."/>
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row search_results">
    <% for (var i=0; i < products.length; i++){ %>
    <div class="col-md-4">
      <a href="/product/<%= products[i]._id %>">
        <div class="thumbnail">
          <img src="<%= products[i].image %>">
          <div class="caption">
            <h3><%= products[i].name %></h3>
            <p><%= products[i].category.name %></p>
            <p>$<%= products[i].price %></p>
          </div>
        </div>
      </a>
    </div>
    <% if ((i+1)%3===0) { %>
        </div>
        <div class="row search_results">
    <% } %>
    <% } %>
    </div>

    <div class="row" id="instant_search">

    </div>
    <div class="row" id="pagination">
        <div class="col-md-12">
            <ul class="pagination text-center">

                <% for(var i=1; i <= pages; i++){ %>
                    <% if (i === 1) { %>
                        <% if (undefined == page) { %>
                            <li class="page-item active"><a href="/"><%= i%></a></li>
                        <% }else { %>
                            <li><a href="/"><%= i%></a></li>
                        <% } %>
                    <% } else {  %>
                        <% if (i == page) { %>
                            <li class="page-item active"><a href="/page/<%=i %>"><%= i%></a></li>
                        <% }else { %>
                        <li><a href="/page/<%=i %>"><%= i%></a></li>
                        <% } %>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
</div>
